.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.loginContainerForm {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(114, 181, 240);
    height: 320px;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
}

.loginContainerForm input {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.1);
}

.loginContainerForm button {
    max-width: 100%;
    width: 200px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #bed5ee;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* centraliza horizontalmente */
    display: block;
}

.setError {
    color: red;
    margin-top: 8px;
    margin-bottom: 5px;

}